#about {
    font-family: var(--font-style);
    display: block;
    background-color: rgba(218, 123, 147, 0.2);
    color: var(--darkest);
    height: 100vh;
  }
  
  #intro {
    font-size: x-large;
    padding: 10px;
  }

  .contents {
    padding: 20px;
    color: var(--darkest);
    height: 100vh;
  }
